@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="location.href='@Url.Action("Index", "Form")'" style="background-color: #000000; color:white; padding: 10px 20px; border: none; border-radius: 10px; cursor: pointer;">Add Input</button>
    

</div>
